.scroll-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 35%;
    transition: max-height 1s linear, transform .1s linear;
}

#left-scroll {
    -webkit-filter: drop-shadow(-1px 1px 2px #222);
    filter: drop-shadow(-1px 1px 2px #222);
}

#right-scroll {
    -webkit-filter: drop-shadow(1px 1px 2px #222);
    filter: drop-shadow(1px 1px 2px #222);
}
  
.left-scroll-hover:hover {
    transform: scale(1.05);
    -webkit-filter: drop-shadow(-3px 3px 7px #222);
    filter: drop-shadow(-3px 3px 7px #222);
}

.right-scroll-hover:hover {
    transform: scale(1.05);
    -webkit-filter: drop-shadow(3px 3px 7px #222);
    filter: drop-shadow(3px 3px 7px #222);
}

.scroll-text-max-height {
    max-height: 100%;
}

.scroll-top-container {
    box-sizing: border-box;
    min-width: 100%;
    overflow: hidden;
    height: 100%;
}

.scroll-top {
    transform: scaleY(-1);
}

.scroll-bottom-container {
    box-sizing: border-box;
    max-width: 100%;
    height: 0;
}

.scroll-bottom {
    position: relative;
    top: -50px;
    height: auto;
    transform: scaleY(-1);
}

.reverse {
    transform: scaleX(-1);
}

.scroll-text {
    position: absolute;
    text-align: center;
    top: 100px;
    width: 100%;
    max-height: 35%;
    z-index: 1;
    overflow: hidden;
    transition: all 0.5s linear;
    font-family: Cinzel;
}

.scroll-text-right {
    left: 10px;
}

.scroll-text-left {
    right: 10px;
}