@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

.app {
  margin: 0;
  padding: 0;
  height:100%;
  width: 100%;
  max-width: 1920px;
  min-width: 1920px;
  background-image: url('./assets/arena-background-blue-sky.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.body-container {
  height: 70vh;
  width: 100%;
}

.gladiators1 {
  width:100%;
  object-fit: contain;
  margin-bottom: 7.5vh;
}

.gladiators2{
  width:90%;
  object-fit: contain;
  margin-bottom: 8vh;
}



