.app {
  margin: 0;
  padding: 0;
  height:100%;
  width: 100%;
  max-width: 1920px;
  min-width: 1920px;
  background-image: url('./assets/arena-background-blue-sky.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.body-container {
  height: 70vh;
  width: 100%;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.verses {
  max-height: 250px !important;
  max-width: 250px !important;
}

.gladiators {
  max-height: 260px !important;
  max-width: 588px !important;
}